# ETL PROJECT by Huy and Soyoung

Objective: To collect data around airports, airlines and the web and perform ETL into a usable database

## Project Report

**E**xtract: 
* Original data source 1: US airlines data from kaggle Dataset 2015 Flight Delays and Cancellations by US Department of Transportation
(https://www.kaggle.com/usdot/flight-delays/)
Stored in 'Data' folder as 'airlines.csv'

* Original data source 2: US airports data

* Original data source 3: US flights data (year 2015) from kaggle Dataset 2015 Flight Delays and Cancellations by US Department of Transportation
(https://www.kaggle.com/usdot/flight-delays/)
Stored in 'Data' folder as 'flights_2015_01.csv'
Due to Github's limit of files exceeding 100MB in size. We only uploaded January's flight data.

* Original data source 4: Flight ticket prices scraped from www.kayak.com

**T**ransform: what data cleaning or transformation was required.

**L**oad: the final database, tables/collections, and why this was chosen.
* End product is relational database 'flight_db'on mySQL with 4 tables.

In [1]:
import pandas as pd

from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

import string
from pwd import pwd #pwd for mysql stored

ModuleNotFoundError: No module named 'pwd'

# Extraction (Part 1 - Airlines data)

In [2]:
# Airlines data from 
# kaggle Dataset 2015 Flight Delays and Cancellations by Department of Transportation
# https://www.kaggle.com/usdot/flight-delays/

csv_file = "Data/airlines.csv"
airlines_df = pd.read_csv(csv_file, encoding="UTF-8")
airlines_df

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

# Transform (Part 1 - Airlines data)

In [3]:
print(airlines_df.columns)

Index(['IATA_CODE', 'AIRLINE'], dtype='object')

# Load (Part 1 - Airlines data)

In [4]:
# Make sure to have run mysql query to create a database and tables in mysql before
# Connect to mySQL and create a database "flights_db"
engine = create_engine(f'mysql://root:{pwd}@127.0.0.1/flights_db')

In [11]:
# Confirm tables
engine.table_names()

['airlines', 'airport_details']

In [6]:
airlines_df.to_sql(name='airlines', con=engine, if_exists='append', index=False)

# Extraction (Part 2 - Airport details data)

In [7]:
# Airport Details data from https://www.kaggle.com/open-flights/airports-train-stations-and-ferry-terminals
csv_file = "Data/airports-extended.csv"
airport_data_df = pd.read_csv(csv_file, encoding="latin-1")
airport_data_df.head()

,ID,Facility Name,City,Country,IATA_Code,ICAO_Code,Lat,Lng,Alt(Feet),Hours__from UTC,DLT,TimeZone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

# Transform (Part 2 - Airport details data)

In [8]:
# Cleaning up Airport Details data
NEW_airport_data_df = airport_data_df[['Facility Name','City', 'Country', 'IATA_Code', 'ICAO_Code', 'Lat', 'Lng','Alt(Feet)','Hours__from UTC', 'TimeZone','Type']].copy()
NEW_airport_data_df = NEW_airport_data_df.loc[NEW_airport_data_df['Type'] == 'airport']
NEW_airport_data_df = NEW_airport_data_df.loc[NEW_airport_data_df['Country'] == 'United States']
NEW_airport_data_df.head()

,Facility Name,City,Country,IATA_Code,ICAO_Code,Lat,Lng,Alt(Feet),Hours__from UTC,TimeZone,Type
3223,Barter Island LRRS Airport,Barter Island,United States,BTI,PABA,70.134003,-143.582001,2,-9,America/Anchorage,airport
3225,Cape Lisburne LRRS Airport,Cape Lisburne,United States,LUR,PALU,68.875099,-166.110001,16,-9,America/Anchorage,airport
3226,Point Lay LRRS Airport,Point Lay,United States,PIZ,PPIZ,69.732903,-163.005005,22,-9,America/Anchorage,airport
3227,Hilo International Airport,Hilo,United States,ITO,PHTO,19.721399,-155.048004,38,-10,Pacific/Honolulu,airport
3228,Orlando Executive Airport,Orlando,United States,ORL,KORL,28.545500,-81.332901,113,-5,America/New_York,airport

In [9]:
#still cleaning up Airport Details data
#NEW_airport_data_df['Facility Name'] = NEW_airport_data_df['Facility Name'].str.encode('utf-8')
#NEW_airport_data_df['City'] = NEW_airport_data_df['City'].str.encode('utf-8')
#NEW_airport_data_df['City'] = NEW_airport_data_df['City'].astype(str)
#NEW_airport_data_df['Country'] = NEW_airport_data_df['Country'].str.encode('utf-8')
#NEW_airport_data_df['IATA_Code'] = NEW_airport_data_df['IATA_Code'].str.encode('utf-8')
#NEW_airport_data_df['ICAO_Code'] = NEW_airport_data_df['ICAO_Code'].str.encode('utf-8')
NEW_airport_data_df['Lat'] = pd.to_numeric(NEW_airport_data_df['Lat'], errors="coerce")
NEW_airport_data_df['Lng'] = pd.to_numeric(NEW_airport_data_df['Lng'], errors="coerce")
NEW_airport_data_df['Alt(Feet)'] = pd.to_numeric(NEW_airport_data_df['Alt(Feet)'], errors="coerce")
NEW_airport_data_df['Hours__from UTC'] = pd.to_numeric(NEW_airport_data_df['Hours__from UTC'], errors="coerce")
NEW_airport_data_df = NEW_airport_data_df.replace(r'\\N','', regex=True) 

#Export new clean data to CSV
NEW_airport_data_df.to_csv('Data/airport_details_clean.csv', index=False)

# Load (Part 3 - Airport details data)

In [10]:
engine = create_engine(f'mysql+mysqldb://root:{pwd}@127.0.0.1/flights_db')

In [29]:
# Confirm tables
engine.table_names()

['airlines', 'airport_details', 'flights_2015']

In [13]:
NEW_airport_data_df.to_sql(name='airport_details', con=engine, if_exists='append', index=False)

# Extraction (Part 3 - Flights data)

In [14]:
# Flights data from 
# kaggle Dataset 2015 Flight Delays and Cancellations by Department of Transportation
# https://www.kaggle.com/usdot/flight-delays/

csv_file = "Data/flights_2015_01.csv"
flights_2015_df = pd.read_csv(csv_file, encoding="UTF-8")
flights_2015_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

# Transform (Part 3 - Flights data)

In [15]:
print(flights_2015_df.columns)

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [16]:
flights_2015_df["DIVERTED"].value_counts()

0    468995
1       973
Name: DIVERTED, dtype: int64

In [17]:
flights_2015_df["CANCELLED"].value_counts()

0    457986
1     11982
Name: CANCELLED, dtype: int64

In [18]:
flights_2015_df["CANCELLATION_REASON"].value_counts()

B    7020
A    2874
C    2087
D       1
Name: CANCELLATION_REASON, dtype: int64

In [19]:
# Rearrange columns
new_flights_2015_df = flights_2015_df[[
    'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 
    'AIRLINE', 'FLIGHT_NUMBER','TAIL_NUMBER', 
    'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
    'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 
    'TAXI_OUT','WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE','WHEELS_ON', 'TAXI_IN', 
    'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME','ARRIVAL_DELAY',
    'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY','LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY',
    'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON']].copy()
new_flights_2015_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,NaN,NaN,NaN,NaN,NaN,0,0,NaN

# Load (Part 3 - Flights data)

In [27]:
# Make sure to run mysql query to create a database and tables in mysql
# Connect to mySQL and create a database "flights_db"
engine = create_engine(f'mysql://root:{pwd}@127.0.0.1/flights_db')

In [28]:
# Confirm tables
engine.table_names()

['airlines', 'airport_details', 'flights_2015']

In [30]:
new_flights_2015_df.to_sql(name='flights_2015', con=engine, if_exists='append', index=False)

# Extraction (Part 4 - Scraping)

In [ ]:
from bs4 import BeautifulSoup
import requests
import time
from splinter import Browser
from datetime import datetime
import os

In [ ]:
browser = Browser("chrome", executable_path="chromedriver", headless=False)

url = "https://www.kayak.com/flights/SFO-SGN/2019-12-20/2020-01-04?sort=bestflight_a"
browser.visit(url)
time.sleep(35)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [ ]:
# Create container object of information to scrape
resultInner = soup.find_all("div",class_="resultInner")

# Transform (part 4 - Scraping)

In [ ]:
# First we check to see if there is an existing trips.csv file in our folder so that we can append to the file

if os.path.exists('trips.csv'):
    trips_file_df = pd.read_csv('trips.csv')
    
    
    #
    dep_air = []
    ret_air =[]
    dep_time = []
    cost = []
    durat = []
    Date = []
    
    for container in resultInner:
        departure = container.findAll("div",{"class":"bottom"})
        departure_airline = departure[0].text
        return_airline = departure[3].text
        dep_air.append(departure_airline)
        ret_air.append(return_airline)

        departure_time_container = container.findAll("span",{"class":"time-pair"})
        departure_time = departure_time_container[0].text.strip()
        departure_time = str.replace(departure_time,'\n','')
        dep_time.append(departure_time)

        price_container = container.findAll("span",{"class":"price option-text"})
        price = price_container[0].text
        price = str.replace(price, '\n','')
        price = str.replace(price, '$','')
        cost.append(price)

        duration_container = container.findAll("div",{"class":"top"})
        duration_time = duration_container[2].text
        durat.append(duration_time)

        date = datetime.today().strftime('%Y-%m-%d %I:%M %p')
        Date.append(date)
    
    trips_dict = {'Departure_Airline':dep_air,
              'Return_Airline':ret_air,
              'Departure_time':dep_time,
              'Price':cost,
              'Duration':durat,
              'Date_Checked':Date
             }
    trips_df = pd.DataFrame.from_dict(trips_dict)
    trips_merged_df = pd.concat([trips_file_df,trips_df], axis=0, sort = True)
    col =['Departure_Airline','Return_Airline','Departure_time','Duration','Price','Date_Checked']
    trips_merged_df['Price'] = trips_merged_df['Price'].astype(int)
    trips_merged_df[col].to_csv('trips.csv',index=False)

#Since no files are found we run our webscraper and create a new CSV file and load the new Kayak trip data.

else:
    # Create file to write to
    filename = "trips.csv"
    f = open(filename, "w")

    headers = "Departure_Airline,Return_Airline,Departure_time,Duration,Price,Date_Checked\n"
    f.write(headers)
    
    #Create dataframe to load results

    dep_air = []
    ret_air =[]
    dep_time = []
    cost = []
    durat = []
    Date = []
    
    for container in resultInner:
        departure = container.findAll("div",{"class":"bottom"})
        departure_airline = departure[0].text
        return_airline = departure[3].text
        dep_air.append(departure_airline)
        ret_air.append(return_airline)

        departure_time_container = container.findAll("span",{"class":"time-pair"})
        departure_time = departure_time_container[0].text.strip()
        departure_time = str.replace(departure_time,'\n','')
        dep_time.append(departure_time)

        price_container = container.findAll("span",{"class":"price option-text"})
        price = price_container[0].text
        price = str.replace(price, '\n','')
        price = str.replace(price, '$','')
        cost.append(price)

        duration_container = container.findAll("div",{"class":"top"})
        duration_time = duration_container[2].text
        durat.append(duration_time)

        date = datetime.today().strftime('%Y-%m-%d %I:%M %p')
        Date.append(date)

        f.write(departure_airline +  "," + return_airline + "," + departure_time + "," + duration_time + "," + price + "," + date + "\n" )

    f.close()
    trips_dict = {'Departure_Airline':dep_air,
              'Return_Airline':ret_air,
              'Departure_time':dep_time,
              'Price':cost,
              'Duration':durat,
              'Date_Checked':Date
             }
    trips_df = pd.DataFrame.from_dict(trips_dict)
    
    #Additional step to change price sting column into a float so that it can be writting to the database in the correct format
    trips_df['Price'] = trips_df['Price'].astype(int)

# Load (part 4 - Scraping)

In [ ]:
engine = create_engine(f'mysql+mysqldb://root:{pwd}@127.0.0.1/flights_db')

In [ ]:
#Load scaped trips df into flights_db
trips_df.to_sql(name='trips_scraped', con=engine, if_exists='append', index=False)

# Confirm our database (sqlalchemy-side)

In [31]:
# create a session
session = Session(engine)

In [32]:
pd.read_sql(session.query(airlines).statement, engine).head()

NameError: name 'airlines' is not defined

In [ ]:
pd.read_sql(session.query(airport_detail).statement, engine).head()

In [ ]:
pd.read_sql(session.query(flights_2015).statement, engine).head()

In [ ]:
# departure_delay by airline
session.query(Airlines.AIRLINE,func.avg(Flights_2015.DEPARTURE_DELAY)).\
filter(Flights_2015.AIRLINE==Airlines.IATA_CODE).\
group_by(Flights_2015.AIRLINE).\
order_by(func.avg(Flights_2015.DEPARTURE_DELAY).desc()).all()

In [ ]:
# departure_delay by airport
session.query(Airports.AIRPORT,func.avg(Flights_2015.DEPARTURE_DELAY)).\
filter(Flights_2015.ORIGIN_AIRPORT==Airports.IATA_CODE).\
group_by(Flights_2015.ORIGIN_AIRPORT).\
order_by(func.avg(Flights_2015.DEPARTURE_DELAY).desc()).all()

In [ ]:
# arrival_delay by airline
session.query(Airlines.AIRLINE,func.avg(Flights_2015.ARRIVAL_DELAY)).\
filter(Flights_2015.AIRLINE==Airlines.IATA_CODE).\
group_by(Flights_2015.AIRLINE).\
order_by(func.avg(Flights_2015.ARRIVAL_DELAY).desc()).all()

In [ ]:
# arrival_delay by airport
session.query(Airports.AIRPORT,func.avg(Flights_2015.ARRIVAL_DELAY)).\
filter(Flights_2015.DESTINATION_AIRPORT==Airports.IATA_CODE).\
group_by(Flights_2015.DESTINATION_AIRPORT).\
order_by(func.avg(Flights_2015.ARRIVAL_DELAY).desc()).all()