# 13. ETL Project

## Project Report

At the end of the week, your team will submit a Final Report that describes the following:

* **E**xtract: your original data sources and how the data was formatted (CSV, JSON, pgAdmin 4, etc).

* **T**ransform: what data cleaning or transformation was required.

* **L**oad: the final database, tables/collections, and why this was chosen.

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

import pandas as pd

from config import pwd #pwd for mysql stored

In [2]:
# connect to mysql DB ontime_performance
engine = create_engine(f"mysql://root:{pwd}@127.0.0.1/transportation")

In [3]:
# Inspect
inspector = inspect(engine)
inspector.get_table_names()

['airlines', 'airports', 'flights_2015_01_01_300']

In [4]:
# Get a list of column names and types
columns = inspector.get_columns('airports')
for c in columns:
    print(c['name'], c['type'])
# columns

IATA_CODE TEXT
AIRPORT TEXT
CITY TEXT
STATE TEXT
COUNTRY TEXT
LATITUDE DOUBLE
LONGITUDE DOUBLE
ID INTEGER(11)

In [5]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)

In [6]:
# Map Flight_2015 class
Flights_2015 = Base.classes.flights_2015_01_01_300

In [7]:
# Map airport class
Airports = Base.classes.airports

In [8]:
# Map airline class
Airlines = Base.classes.airlines

In [9]:
# create a session
session = Session(engine)

In [10]:
pd.read_sql(session.query(Flights_2015).statement, engine).head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,ID
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-22,0,0,,,,,,,1
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-9,0,0,,,,,,,2
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,5,0,0,,,,,,,3
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-9,0,0,,,,,,,4
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-21,0,0,,,,,,,5

In [11]:
pd.read_sql(session.query(Airports).statement, engine).head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,ID
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,1
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,2
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,3
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,4
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,5

In [12]:
pd.read_sql(session.query(Airlines).statement, engine).head()

  IATA_CODE                 AIRLINE  ID
0        UA   United Air Lines Inc.   1
1        AA  American Airlines Inc.   2
2        US         US Airways Inc.   3
3        F9  Frontier Airlines Inc.   4
4        B6         JetBlue Airways   5

# Flight Delay

In [42]:
# departure_delay by airline
session.query(Airlines.AIRLINE,func.avg(Flights_2015.DEPARTURE_DELAY)).\
filter(Flights_2015.AIRLINE==Airlines.IATA_CODE).\
group_by(Flights_2015.AIRLINE).\
order_by(func.avg(Flights_2015.DEPARTURE_DELAY).desc()).all()

[('Spirit Air Lines', Decimal('9.0000')),
 ('American Airlines Inc.', Decimal('8.1707')),
 ('Skywest Airlines Inc.', Decimal('7.2647')),
 ('United Air Lines Inc.', Decimal('7.1750')),
 ('Atlantic Southeast Airlines', Decimal('5.7778')),
 ('Delta Air Lines Inc.', Decimal('5.6216')),
 ('JetBlue Airways', Decimal('1.7273')),
 ('Frontier Airlines Inc.', Decimal('1.6000')),
 ('Southwest Airlines Co.', Decimal('0.3750')),
 ('US Airways Inc.', Decimal('-0.2353')),
 ('American Eagle Airlines Inc.', Decimal('-3.8000')),
 ('Hawaiian Airlines Inc.', Decimal('-6.4286')),
 ('Alaska Airlines Inc.', Decimal('-7.2632'))]

In [43]:
# departure_delay by airport
session.query(Airports.AIRPORT,func.avg(Flights_2015.DEPARTURE_DELAY)).\
filter(Flights_2015.ORIGIN_AIRPORT==Airports.IATA_CODE).\
group_by(Flights_2015.ORIGIN_AIRPORT).\
order_by(func.avg(Flights_2015.DEPARTURE_DELAY).desc()).all()

[('Buffalo Niagara International Airport', Decimal('104.0000')),
 ('Atlantic City International Airport', Decimal('102.0000')),
 ('Savannah/Hilton Head International Airport', Decimal('86.0000')),
 ('McClellan-Palomar Airport', Decimal('54.0000')),
 ('Phoenix Sky Harbor International Airport', Decimal('47.5556')),
 ('Ontario International Airport', Decimal('40.6667')),
 ('Luis Muñoz Marín International Airport', Decimal('23.8571')),
 ('Boise Airport\xa0(Boise Air Terminal)', Decimal('22.0000')),
 ('Dallas/Fort Worth International Airport', Decimal('21.5000')),
 ('LaGuardia Airport (Marine Air Terminal)', Decimal('18.2500')),
 ('Hartsfield-Jackson Atlanta International Airport', Decimal('17.5000')),
 ('Cleveland Hopkins International Airport', Decimal('17.5000')),
 ('Baltimore-Washington International Airport', Decimal('17.0000')),
 ('Erie International Airport', Decimal('16.0000')),
 ('Denver International Airport', Decimal('15.3750')),
 ('George Bush Intercontinental Airport', Decimal('14.3333')),
 ('John F. Kennedy International Airport\xa0(New York International Airport)',
  Decimal('12.5714')),
 ('Sacramento International Airport', Decimal('12.2500')),
 ('General Mitchell International Airport', Decimal('12.0000')),
 ('Pittsburgh International Airport', Decimal('10.5000')),
 ('Portland International Airport', Decimal('8.5714')),
 ('Albuquerque International Sunport', Decimal('7.0000')),
 ('Eppley Airfield', Decimal('7.0000')),
 ('Meadows Field', Decimal('6.0000')),
 ('Washington Dulles International Airport', Decimal('6.0000')),
 ('San Antonio International Airport', Decimal('5.6667')),
 ('Memphis International Airport', Decimal('4.5000')),
 ('Abraham Lincoln Capital Airport', Decimal('4.0000')),
 ('Tucson International Airport', Decimal('4.0000')),
 ('Hector International Airport', Decimal('3.0000')),
 ('Ronald Reagan Washington National Airport', Decimal('2.3333')),
 ('Fort Lauderdale-Hollywood International Airport', Decimal('2.3333')),
 ('Kansas City International Airport', Decimal('0.6000')),
 ('Appleton International Airport', Decimal('0.5000')),
 ('Theodore Francis Green State Airport', Decimal('0.5000')),
 ("Chicago O'Hare International Airport", Decimal('0.3750')),
 ('Miami International Airport', Decimal('0.3333')),
 ('Minneapolis-Saint Paul International Airport', Decimal('0.3333')),
 ('Rafael Hernández Airport', Decimal('0.2500')),
 ('Los Angeles International Airport', Decimal('0.1538')),
 ('Birmingham-Shuttlesworth International Airport', Decimal('0.0000')),
 ('The Eastern Iowa Airport', Decimal('0.0000')),
 ('Greenville-Spartanburg International Airport', Decimal('0.0000')),
 ('Capital Region International Airport\xa0( Lansing Capital City)',
  Decimal('0.0000')),
 ('Will Rogers World Airport', Decimal('0.0000')),
 ('Rapid City Regional Airport', Decimal('0.0000')),
 ('McCarran International Airport', Decimal('-0.5000')),
 ('Charlotte Douglas International Airport', Decimal('-1.0000')),
 ('Yellowstone Regional Airport', Decimal('-1.0000')),
 ('Philadelphia International Airport', Decimal('-1.0000')),
 ('Redmond Municipal Airport\xa0(Roberts Field)', Decimal('-1.0000')),
 ('Reno/Tahoe International Airport', Decimal('-1.5000')),
 ('Southwest Florida International Airport', Decimal('-1.5000')),
 ('Aberdeen Regional Airport', Decimal('-2.0000')),
 ('Detroit Metropolitan Airport', Decimal('-2.0000')),
 ('Idaho Falls Regional Airport', Decimal('-2.0000')),
 ('Rogue Valley International Airport', Decimal('-2.0000')),
 ('San Francisco International Airport', Decimal('-2.0000')),
 ('Seattle-Tacoma International Airport', Decimal('-2.2500')),
 ('Austin-Bergstrom International Airport', Decimal('-2.5000')),
 ('Jackson-Evers International Airport', Decimal('-2.5000')),
 ('Newark Liberty International Airport', Decimal('-2.6667')),
 ('Fresno Yosemite International Airport', Decimal('-2.6667')),
 ('Gen. Edward Lawrence Logan International Airport', Decimal('-2.7647')),
 ('Bemidji Regional Airport', Decimal('-3.0000')),
 ('Brownsville/South Padre Island International Airport', Decimal('-3.0000')),
 ('Sioux Falls Regional Airport', Decimal('-3.0000')),
 ('Spokane International Airport', Decimal('-3.0000')),
 ('Palm Beach International Airport', Decimal('-3.0000')),
 ('Santa Barbara Municipal Airport\xa0(Santa Barbara Airport)',
  Decimal('-3.0000')),
 ('South Bend International Airport\xa0(South Bend Regional)',
  Decimal('-3.0000')),
 ('Trenton Mercer Airport', Decimal('-3.0000')),
 ('Salt Lake City International Airport', Decimal('-3.5000')),
 ('Orlando International Airport', Decimal('-3.7500')),
 ('Cincinnati/Northern Kentucky International Airport', Decimal('-4.0000')),
 ('Duluth International Airport', Decimal('-4.0000')),
 ('Eugene Airport\xa0(Mahlon Sweet Field)', Decimal('-4.0000')),
 ('Green Bay-Austin Straubel International Airport', Decimal('-4.0000')),
 ('Blue Grass Airport', Decimal('-4.0000')),
 ('Richmond International Airport', Decimal('-4.0000')),
 ('McGhee Tyson Airport', Decimal('-4.0000')),
 ('Nashville International Airport', Decimal('-4.5000')),
 ('Jacksonville International Airport', Decimal('-4.5000')),
 ('Tulsa International Airport', Decimal('-4.5000')),
 ('Charleston International Airport/Charleston AFB', Decimal('-5.0000')),
 ('Port Columbus International Airport', Decimal('-5.0000')),
 ('Niagara Falls International Airport', Decimal('-5.0000')),
 ('Indianapolis International Airport', Decimal('-5.0000')),
 ('Bill and Hillary Clinton National Airport\xa0(Adams Field)',
  Decimal('-5.0000')),
 ('Manchester-Boston Regional Airport', Decimal('-5.0000')),
 ('General Wayne A. Downing Peoria International Airport', Decimal('-5.0000')),
 ('Raleigh-Durham International Airport', Decimal('-5.0000')),
 ('Greater Rochester International Airport', Decimal('-5.0000')),
 ('Syracuse Hancock International Airport', Decimal('-5.0000')),
 ('Pensacola International Airport\xa0(Pensacola Gulf Coast Regional Airport)',
  Decimal('-5.5000')),
 ('Destin-Fort Walton Beach Airport/Eglin AFB', Decimal('-6.0000')),
 ('Tampa International Airport', Decimal('-6.2500')),
 ('Oakland International Airport', Decimal('-6.3333')),
 ('Bradley International Airport', Decimal('-7.0000')),
 ('Mercedita Airport', Decimal('-7.0000')),
 ('Portland International Jetport', Decimal('-7.0000')),
 ('Honolulu International Airport', Decimal('-7.5000')),
 ('Louis Armstrong New Orleans International Airport', Decimal('-7.5000')),
 ('Lehigh Valley International Airport', Decimal('-8.0000')),
 ('Chippewa Valley Regional Airport', Decimal('-8.0000')),
 ('Albert J. Ellis Airport', Decimal('-8.0000')),
 ('Ted Stevens Anchorage International Airport', Decimal('-8.9000')),
 ('Tyler Pounds Regional Airport', Decimal('-9.0000')),
 ('Central Wisconsin Airport', Decimal('-10.0000')),
 ('Range Regional Airport\xa0(Chisholm-Hibbing Airport)', Decimal('-10.0000')),
 ('Falls International Airport', Decimal('-10.0000')),
 ('Dane County Regional Airport', Decimal('-10.0000')),
 ('Corpus Christi International Airport', Decimal('-12.0000')),
 ('Fairbanks International Airport', Decimal('-12.0000')),
 ('Piedmont Triad International Airport', Decimal('-18.0000'))]

In [40]:
# arrival_delay by airline
session.query(Airlines.AIRLINE,func.avg(Flights_2015.ARRIVAL_DELAY)).\
filter(Flights_2015.AIRLINE==Airlines.IATA_CODE).\
group_by(Flights_2015.AIRLINE).\
order_by(func.avg(Flights_2015.ARRIVAL_DELAY).desc()).all()

[('Skywest Airlines Inc.', Decimal('8.6471')),
 ('Spirit Air Lines', Decimal('8.4118')),
 ('American Airlines Inc.', Decimal('6.2927')),
 ('Atlantic Southeast Airlines', Decimal('3.8889')),
 ('United Air Lines Inc.', Decimal('2.6500')),
 ('JetBlue Airways', Decimal('-0.8182')),
 ('US Airways Inc.', Decimal('-1.0000')),
 ('Hawaiian Airlines Inc.', Decimal('-2.7143')),
 ('Frontier Airlines Inc.', Decimal('-3.4000')),
 ('Delta Air Lines Inc.', Decimal('-6.1351')),
 ('American Eagle Airlines Inc.', Decimal('-6.4000')),
 ('Southwest Airlines Co.', Decimal('-11.5000')),
 ('Alaska Airlines Inc.', Decimal('-13.7895'))]

In [44]:
# arrival_delay by airport
session.query(Airports.AIRPORT,func.avg(Flights_2015.ARRIVAL_DELAY)).\
filter(Flights_2015.DESTINATION_AIRPORT==Airports.IATA_CODE).\
group_by(Flights_2015.DESTINATION_AIRPORT).\
order_by(func.avg(Flights_2015.ARRIVAL_DELAY).desc()).all()

[('Southwest Florida International Airport', Decimal('86.0000')),
 ('Bradley International Airport', Decimal('49.0000')),
 ('Trenton Mercer Airport', Decimal('24.0000')),
 ('William P. Hobby Airport', Decimal('22.0000')),
 ('Luis Muñoz Marín International Airport', Decimal('19.0000')),
 ('Honolulu International Airport', Decimal('15.0000')),
 ('Los Angeles International Airport', Decimal('14.1000')),
 ('LaGuardia Airport (Marine Air Terminal)', Decimal('12.5000')),
 ('Denver International Airport', Decimal('12.4348')),
 ('Newark Liberty International Airport', Decimal('9.9333')),
 ('Miami International Airport', Decimal('9.5500')),
 ('George Bush Intercontinental Airport', Decimal('8.2083')),
 ('Kansas City International Airport', Decimal('6.0000')),
 ('Phoenix Sky Harbor International Airport', Decimal('5.7500')),
 ('Dallas/Fort Worth International Airport', Decimal('4.1818')),
 ('Orlando International Airport', Decimal('4.0000')),
 ('Salt Lake City International Airport', Decimal('0.6667')),
 ('Detroit Metropolitan Airport', Decimal('-0.3000')),
 ('John F. Kennedy International Airport\xa0(New York International Airport)',
  Decimal('-0.5000')),
 ('Kona International Airport at Keahole', Decimal('-0.5000')),
 ('Tampa International Airport', Decimal('-1.0000')),
 ('San Francisco International Airport', Decimal('-2.2857')),
 ('Washington Dulles International Airport', Decimal('-2.3333')),
 ('Brainerd Lakes Regional Airport', Decimal('-3.0000')),
 ('Philadelphia International Airport', Decimal('-3.5000')),
 ("Chicago O'Hare International Airport", Decimal('-4.4783')),
 ('Hilo International Airport', Decimal('-5.0000')),
 ('Buffalo Niagara International Airport', Decimal('-6.0000')),
 ('Minneapolis-Saint Paul International Airport', Decimal('-6.6667')),
 ('McCarran International Airport', Decimal('-8.0000')),
 ('Fort Lauderdale-Hollywood International Airport', Decimal('-9.3333')),
 ('Long Beach Airport\xa0(Daugherty Field)', Decimal('-10.0000')),
 ('Myrtle Beach International Airport', Decimal('-10.0000')),
 ('Hartsfield-Jackson Atlanta International Airport', Decimal('-10.0385')),
 ('Kahului Airport', Decimal('-11.0000')),
 ('Norman Y. Mineta San José International Airport', Decimal('-11.0000')),
 ('Lihue Airport', Decimal('-12.0000')),
 ('Seattle-Tacoma International Airport', Decimal('-13.3077')),
 ('Palm Beach International Airport', Decimal('-13.3333')),
 ('Ted Stevens Anchorage International Airport', Decimal('-14.3333')),
 ('Gen. Edward Lawrence Logan International Airport', Decimal('-15.0000')),
 ('Portland International Airport', Decimal('-16.0000')),
 ('Charlotte Douglas International Airport', Decimal('-17.2000')),
 ('Rafael Hernández Airport', Decimal('-19.0000')),
 ('Baltimore-Washington International Airport', Decimal('-21.2500')),
 ('Oakland International Airport', Decimal('-22.5000')),
 ('Ronald Reagan Washington National Airport', Decimal('-23.0000'))]